thedoor/Assets/Firebase/**/* filter=lfs diff=lfs merge=lfs -text
thedoor/Assets/Plugins/**/* filter=lfs diff=lfs merge=lfs -text
thedoor/Assets/Firebase/Plugins/x86_64/FirebaseCppApp-10_0_1.bundle filter=lfs diff=lfs merge=lfs -text
