rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function HasOnlyKeys(keys) {
        return request.resource.data.diff(resource.data).changedKeys().hasOnly(keys);
    }
    match /GameData-Setting/{document} {
      allow read;
    }
    match /GameData-Shop/{document} {
      allow read : if request.auth != null;
    }
    match /GameData-Purchase/{document} {
      allow read : if request.auth != null;
    }  
    match /PlayerData-Apply/{document} {
      allow read : if request.auth != null;
    }
    match /PlayerData-Role/{document} {
      allow read : if request.auth != null;
    }
     match /PlayerData-Item/{document} {
      allow read : if request.auth != null;
    }
    match /PlayerData-Player/{document} {
      allow read : if request.auth != null;
      allow update: if request.auth != null && 
      HasOnlyKeys(['Name']);
    }
     match /PlayerData-History/{document} {
      allow read : if request.auth != null;
    }
  }
}