<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>525954599735-s09gig5f853u4iqp2rfj9hf7c4bc89h2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.525954599735-s09gig5f853u4iqp2rfj9hf7c4bc89h2</string>
	<key>API_KEY</key>
	<string>AIzaSyCSeXW_8Feg58SoMw2ViF1tCO18qYHpfHQ</string>
	<key>GCM_SENDER_ID</key>
	<string>525954599735</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.among.thedoordevelop</string>
	<key>PROJECT_ID</key>
	<string>thedoor-develop</string>
	<key>STORAGE_BUCKET</key>
	<string>thedoor-develop.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:525954599735:ios:988e6395580995309228b2</string>
</dict>
</plist>